<div class="bg-gray-200 py-4 px-6 mx-12 rounded-b-lg shadow-2xl">
    <%= @agent.full_name %>
    <br>
    <%= @agent.company %>
    <br>
    <%= @agent.email %>
    <br>
    <%= @agent.phone_number %>
</div>